# Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

# Data

In [2]:
data = sns.load_dataset('mpg')
data.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite

# With sklearn

In [5]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

subset = data.drop(['name'], axis=1).dropna()
X = subset.drop(['origin'], axis=1).to_numpy()
y = subset.origin.to_numpy()

logReg = LogisticRegression()

print(cross_val_score(logReg, X, y))
print(np.mean(cross_val_score(logReg, X, y)))

[0.84810127 0.78481013 0.78205128 0.78205128 0.58974359]
0.7573515092502434